aiofiles>=25.1.0
aiosqlite>=0.22.0
alembic>=1.17.2
bcrypt>=5.0.0
fastapi[standard-no-fastapi-cloud-cli]>=0.124.4
itsdangerous>=2.2.0
pdf2image>=1.17.0
pillow>=12.0.0
pydantic>=2.12.5
pydantic-settings>=2.12.0
pytesseract>=0.3.13
rapidfuzz>=3.14.3
sqlalchemy>=2.0.45
